<a href="https://colab.research.google.com/github/fralfaro/CienciaDeDatosClases/blob/main/docs/01_introduccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción Ciencia de Datos

Al terminar este capítulo ustedes van a poder:
- Crear un proyecto en RStudio
- Cargar datos a una sesión de R
- Identificar y comprender las distintas estructuras con las que R maneja los datos

## Nuestra primera investigación: el precio de las propiedades en CABA

En este primer capítulo vamos a estudiar el mercado inmobiliario de la Ciudad de Buenos Aires. Más específicamente, analizaremos los movimientos de los precios en los años 2013-2017 a través de un muy interesante (y masivo) dataset que públicamente ofrece Properati1.

Más allá de que analizar los datos de las propiedades es de por sí interesante y pedagógico para introducir varias de las herramientas que vamos a utilizar, el mercado inmobiliario fue procesando varios cambios en parámetros claves como el precio del dólar y la oferta de créditos hipotecarios. Por esta razón, los precios durante los últimos años de nuestra muestra han experimentado un alza, o eso dicen las fuentes del sector.




<center>
    <img src="https://bookdown.org/martinmontaneb/CienciaDeDatosParaCuriosos/Figuras/Tutorial1/recortePrecios.png" alt="img R" 
     width="700" height="500" >
  <figcaption>Figure 1.1: Nota de TELAM sobre el precio de los inmuebles en CABA durante 2017
 </figcaption>
</center>

En este primer capítulo vamos a hacer uso de un dataset que tiene el precio promedio del metro cuadrado en USD para el período 2013-2017 desagregado a nivel de barrios. Este dataset se descargó del portal de datos de Properati y se manipuló para que sea apto para nuestro primer análisis.

Vamos a intentar responder dos preguntas:

* ¿Aumentaron los precios de los inmuebles (medido como USD en m2) en el 2017?
* ¿Todos los barrios aumentaron en la misma proporción o existen heterogeneidades?
Pero antes de adentrarnos en nuestra pregunta de investigación tenemos que detenernos en algunos puntos importantes.

## Conociendo RStudio

RStudio es el Entorno Ingregrado de Desarrollo (IDE) que vamos a usar a lo largo de este libro, pero ¿Qué hace exactamente un IDE? ¿Para que lo necesitamos?

> Un IDE es un software que nos ayuda programar de una manera más simple y eficiente. Entre algunas de sus múltiples funciones, nos sugiere qué deberíamos continuar escribiendo , nos marca dónde nos hemos confundido y administra nuestros archivos en proyectos.

Pero no existe mejor manera de aprender qué es un IDE que usándolo. Abran **RStudio**. Por default, deberían encontrarse con algo similar a lo que aparece en la Figura 1. RStudio divide la pantalla en cuatro paneles. Ariba a la izquierda vemos el Panel de edición de archivos, donde vamos a modificar los archivos donde guardamos nuestro código, a la derecha vemos el Panel de estructuras de datos, donde aparecen las “estructuras de datos” que están creadas (más sobre esto abajo en el documento).

Abajo a la izquierda tenemos el panel donde se visualiza la consola o terminal, que es donde vamos a ver ejecutado nuestro código y a su derecha un Panel multiuso, que será de utilidad para explorar archivos, ver la salida gráfica de nuestro código, encontrar ayuda sobre nuestros comandos, entre otras funciones.


<center>
    <img src="https://bookdown.org/martinmontaneb/CienciaDeDatosParaCuriosos/Figuras/Tutorial1/Rstudio1.png" alt="img R" 
     width="700" height="500" >
  <figcaption>Figure 1.2: Impresión de pantalla de RStudio
 </figcaption>
</center>

Vamos a ejecutar nuestro primer código en R. En el panel de abajo a la izquierda (consola o terminal), ejecuten el siguiente código:

In [57]:
5 * 10 # No deberíamos necesitar a R para esto...

[1] 50

Debería devolver, también en el panel de la consola, el número 50. Ya ejecutamos nuestro primer código en R, pero antes de seguir ejecutemos lo mismo de una manera un poco distinta. Escriban exactamente el mismo código, pero ahora en el **Panel de edición de archivos**. Una vez que lo hayan escrito, seleccionen el código completo con el mouse y presionen `Control + Enter`. En la consola deberían obtener exactamente el mismo resultado.

¿Qué fue lo que pasó? Nuestro código está en un archivo (que todavía no guardamos). Al seleccionar el código y apretar `Control + Enter` RStudio pasa este código a la consola y se ejecuta, tal como antes. Para guardar el archivo que acabamos de editar, presionen `Control + S`, pongan el nombre que quieran al nuevo archivo, que tendrá la terminación `.R`, que es como vamos a identificar a los archivos que contienen código de R.

### Proyectos en RStudio

Hasta ahora creamos un archivo .R que tiene una sola línea de código, pero en los proyectos en los que solemos trabajar la cantidad de archivos con código y con datos se multiplica. Si no pensamos en la organización para un proyecto de ciencia de datos, el resultado puede ser un conjunto de archivos con nombres poco intuitivos en las ubicaciones más variadas dentro de nuestra computadora.

Para ayudar a corregir al menos parcialmente este problema, RStudio ofrece la posibilidad de guardar todos los archivos vinculados a un proyecto en una misma dirección de nuestra computadora. De esta manera, evitamos tener que recordar dónde guardamos los archivos y podemos movernos rápidamente de proyecto en proyecto.

Crear un nuevo proyecto en RStudio es realmente simple. Solo tienen que ir a `File -> New Project... -> New Directory -> New Project`. Allí deben elegir un nombre para el proyecto y hacer click en Create Project ¡Listo! Ya creamos nuestro primer proyecto. Nuestra pantalla ahora debería estar dividida en cuatro paneles.

¿Recuerdan la carpeta donde crearon el proyecto? Una vez que lo hayan hecho, ejecuten el siguiente código desde el panel de abajo a la izquierda:

In [58]:
getwd()

[1] "/content"

¿Qué sucedió? Les devolvió la dirección de la carpeta donde está este proyecto. De ahora en más, todo lo que guarden o a lo que intenten acceder desde el proyecto de RStudio se hará dentro de este directorio. Esto trae muchos beneficios que iremos viendo de aquí en adelante.

## Importando datos a R
Cargar los datos a la sesión de R - es decir cuando abrimos RStudio - es una de las tareas más importantes ¡no hay ciencia de datos sin datos! En esta sección vamos a ver distintas formas de cargar los datos y veremos dónde aparecen visualmente en RStudio.

### Comma Separated Values

Uno de los formatos más conocidos para guardar datos son los archivos separados por comas (CSV). El formato consiste simplemente en elementos separados por algún delimitador, en general una coma, que terminan formando una matriz. Veamos un ejemplo con el precio de los inmuebles por año y barrio:

In [59]:
precioAvisos <- read.csv(file = 'https://raw.githubusercontent.com/martintinch0/CienciaDeDatosParaCuriosos/master/data/precioBarrios.csv',
         sep=';',
         stringsAsFactors = FALSE)

En este código hicimos muchas cosas ¿no? Pero antes de empezar a explicar lo que acaban de ejecutar, fijense qué pasó en el panel de arriba a la derecha: deberían tener una fila que dice “precioAvisos” con 48 observaciones 6 variables. Si descargan el csv que acabamos de cargar directamente a R y lo abren, por ejemplo, con excel van a ver también que tiene 48 observaciones y 6 variables **¡Hicimos nuestra primera carga de datos a R!**

¿Cómo lo hicimos? Con la ayuda de la función **read.csv**. ¿Qué es una función? Una función no es otra cosa que un conjunto de código que no vemos, pero que podemos usar de la siguiente manera: le damos algo y nos devuelve otra cosa.

> Una función en los lenguajes de programación es una “caja” que procesa algo que le damos (input) y nos devuelve algo (output).

¿Qué le damos a una función? Le pasamos valores. En este caso, file, sep y stringsAsFactors. ¿Qué nos devuelve? Lo que hay en ese archivo (file) separado por el caracter que nosotros le pasamos (sep). Por el momento, dejaremos stringsAsFactors de un lado.

Pero ¿Cómo aparecieron esos datos en un **objeto** con un nombre **precioAvisos**? Eso lo hicimos con la ayuda de `<-`, nuestra forma de asignar resultados de funciones a objetos.

> El operador de asignación `<-` “pasa” o asigna lo que sea que está a su derecha a un objeto que está a su izquierda. En nuestro ejemplo. a la izquierda esta “precioAvisos”, que es como se llamará nuestro objeto, y a la derecha está nuestra primera función “read.csv()”

## ¿Cómo R organiza los datos?

Hagan click en “precioAvisos”, en el panel de arriba a la derecha ¿Qué ven? Este es tan solo uno de los objetos que tiene R para ir guardando datos. La función `class()` nos ayuda para saber qué usó R para guardar estos datos:

In [60]:
class(precioAvisos)

[1] "data.frame"

En este caso, vemos que es un **data.frame**, un caso específico - y muy importante - de las estructuras de datos u objetos de R. Se trata de un caso un poco complejo, vayamos un poco para atrás y veamos las estructuras de datos más simples que maneja R. Luego veremos que se relacionan con los **data.frame**.

### Vectores

R organiza a los datos en diferentes **estructuras** según el dominio de los datos. El dominio no es otra cosa que los valores que una variable puede llegar a tomar. Por ejemplo, si una variable solo puede tomar números reales y enteros, R pondrá esa variable en un vector númerico o integer, para ser más preciso.

Un vector es la estructura más básica con la que vamos a lidiar. Un **vector** no es otra cosa que una colección numerada de valores, es decir una estructura que puede contener uno o más valores, y puede accederse a través de índices que denotan el orden de cada número dentro del vector ¿Simple, no? Creemos nuestro primer vector

In [61]:
primerVector <- c(20,40,60,80,100)

Ya está: el objeto `primerVector` es un vector númerico que tiene cinco elementos: `20`, `40`, `60`, `80` y `100`. Como les prometí, el vector es una colección numerada de valores, por lo que podemos acceder a cualquiera de los valores llamando al objeto por su nombre y escribiendo la posición entre corchetes `[]` (la numeración arranca desde 1 en R)

In [62]:
primerVector[3] # Devuelve el valor del elemento en la tercera posición de nuestro vector

[1] 60

La mayor parte de nuestros datos no consiste solo en números, sino en datos mixtos: números, texto, variables categóricas, variables lógicas. Todos estos tipos de datos pueden ser representados en nuestros versátiles vectores:

In [63]:
vectorTexto <- c("Croacia","Argentina","Nigeria","Islandia")
vectorLogico <- c(FALSE, TRUE, TRUE, FALSE)

Los vectores de texto no requieren demasiada discusión: son vectores cuyos elementos son texto. Por su parte, los vectores lógicos quizás sí requieran algo de explicación. Los elementos de estos vectores solo pueden tomar los valores TRUE o FALSE, y resultan de mucha utilidad para hacer preguntas del estilo ¿Es este vector un vector de texto?

In [64]:
is.character(vectorTexto)

[1] TRUE

Volvamos a nuestros datos sobre los precios de los inmuebles. Ya comentamos que había seis variables, pero no dijimos que a su vez son ¡6 vectores!. Uno es CHARACTER, como nuestro `vectorTexto` anterior, cinco son INTEGER, o numeric, como nuestro `primer_vector` y el último es sfc_MULTIPOLYGON (vamos a ver un poco más en detalle este último tipo de vector en próximas clases) ¿Cómo podemos acceder a ellos? La llave es el operador `$`

In [65]:
precios2017 <- precioAvisos$USDm2_2017 
str(precios2017) # ¿Los 100 barrios porteños en realidad son 48?

 num [1:48] 1946 2299 1989 1920 3199 ...

¿Qué fue lo que hicimos? Creamos el objeto precios2017 al que le asignamos (`<-`) el vector/variable `USDm2_2017` que está en el Data Frame precioAvisos (vamos a ver más sobre los **Data Frame** más adelante). Al usar la función `str()` (son las primeras tres letras de la palabra structure en inglés) vemos que se trata de un vector integer (o númerico) con 48 elementos ¡La misma cantidad de observaciones que tenemos en `precioAvisos`!

Ahora es donde las cosas se ponen un poco más interesantes. Podemos hacer múltiples operaciones aritméticas sobre este vector de una manera muy simple:

In [66]:
str(precios2017*2) # Multiplicación

 num [1:48] 3891 4598 3978 3839 6398 ...

In [67]:
str(precios2017/4) # División

 num [1:48] 486 575 497 480 800 ...

In [68]:
str(precios2017 - 20) # Resta por solo un número

 num [1:48] 1926 2279 1969 1900 3179 ...

In [69]:
str(precios2017 - precios2017) # Resta con otro vector de igual tamaño

 num [1:48] 0 0 0 0 0 0 0 0 0 0 ...

Una de las ventajas de R es su vectorización. En las operaciones anteriores vimos como múltiplicar, dividir, restar o cualquier otra operación aritmética se **aplica de manera individual sobre cada uno de los elementos de los vectores**, con lo cual la operación se hace elemento por elemento.

Hagamos algo que sea útil para describir la distribución de los precios de los inmuebles ¿Cuál es el valor mínimo del metro cuadrado? ¿Cuál es el máximo? ¿Cuál es el precio promedio? Las funciones `min()`, `max()` y `mean()` hacen el trabajo por nosotros.

In [70]:
resumen_2017 <- c(min(precios2017), max(precios2017), mean(precios2017))
resumen_2017

[1]  872.7541 6070.3288 2203.1119

### Listas y Data Frames

Otras estructuras de datos importantes en R son las **listas** y **Data Frames**:

* Las **listas** son objetos que contienen a su vez un conjunto ordenados de objetos.
* Los **Data Frames** son un caso específico de listas.

**Listas**

Las listas tienen la posibilidad de almacenar objetos con distinta clase. Es decir, es posible crear una lista en la cual se almacenan otras estructuras de datos con clases distintas:

In [71]:
lista1 <- list(Nombres = c("Fernando","Martín"), Apellido="Montané", tienehijos = FALSE,
              edad = 26)
lista1

$Nombres
[1] "Fernando" "Martín"

$Apellido
[1] "Montané"

$tienehijos
[1] FALSE

$edad
[1] 26

En este caso creamos una lista que se llama lista1 y almacena 4 vectores. El primero, es un vector Nombres que contiene dos elementos de clase character. El segundo, un vector de un solo elemento, Apellido de clase character. El tercero, un vector lógico de un elemento ( tienehijos ). Finalmente, el vector edad, que posee un elemento númerico.

En las listas hay que acceder a los objetos, que puede ser cualquiera de las estructuras que vimos hasta ahora (incluyendo las listas). Para acceder a ellos existen al menos 3 formas:

* Usando el signo $ `lista$Nombres`
* Usando doble corchetes e indicando la posición del objeto buscado `lista[[1]]`
* Usando doble corchetes e indicando el nombre del objeto buscado `lista[['Nombres']]`

In [72]:
lista1$Nombres

[1] "Fernando" "Martín"

In [73]:
lista1[[1]]

[1] "Fernando" "Martín"

In [74]:
lista1[['Nombres']]

[1] "Fernando" "Martín"

**Data Frames**

¡Ahora estamos en condiciones de explicar qué es un **Data Frame**! Como se adelantó, un **Data Frame** es un caso específico de listas. En la gran mayoría de las aplicaciones se puede describir como una matriz en la cual variables (columnas) pueden ser de distintas clases.

In [75]:
df <- data.frame(Nombres = c('Juan','Pedro','Ana','Delfina'),
                 Edad = c(21,46,58,27),
                 EstadoCivil = c('Soltero','Casado','Casado','Soltero'),
                 SecundarioCompleto = c(TRUE, FALSE, TRUE, TRUE))
df

  Nombres Edad EstadoCivil SecundarioCompleto
1 Juan    21   Soltero      TRUE
2 Pedro   46   Casado      FALSE
3 Ana     58   Casado       TRUE
4 Delfina 27   Soltero      TRUE

In [76]:
str(df) # Resumen del objeto

'data.frame':	4 obs. of  4 variables:
 $ Nombres           : chr  "Juan" "Pedro" "Ana" "Delfina"
 $ Edad              : num  21 46 58 27
 $ EstadoCivil       : chr  "Soltero" "Casado" "Casado" "Soltero"
 $ SecundarioCompleto: logi  TRUE FALSE TRUE TRUE

El comando str nos devuelve un resumen de las variables del data frame, incluyendo sus clases. Si prestan atención, el vector numérico Edad y el lógico *SecundarioCompleto* tienen la clase esperada, pero los vectores de caracteres Edad y *SecundarioCompleto* dice **Factor** w/2 o w/4 levels ¿Qué es esto?

La clase Factor es un caso específico de vectores. En esta clase de vectores, las variables solo pueden tomar un conjunto de valores predeterminados, es decir que tienen una categoría. Estas categorías se llaman levels en R.

Internamente R transforma estas variables y les asigna un número entero, que son los valores que nos devolvió el comando str. Sin embargo, estos números hacen referencia a una categoría que tiene un nombre. En nuestro caso ¿Tiene sentido que los dos vectores con texto sean Factores?. Respuesta: no. El estado civil de una persona sí puede segmentarse en categorías que se repiten, pero no es el caso de los nombres. Para evitar que R transforme nuestros vectores character en Factor lo que hay que hacer cuando definimos un **Data Frame** es decírselo a R con el parámetro *stringsAsFactors*:

In [77]:
df <- data.frame(Nombres = c('Juan','Pedro','Ana','Delfina'),
                 Edad = c(21,46,58,27),
                 EstadoCivil = c('Soltero','Casado','Casado','Soltero'),
                 SecundarioCompleto = c(TRUE, FALSE, TRUE, TRUE),
                 stringsAsFactors = FALSE)
df

  Nombres Edad EstadoCivil SecundarioCompleto
1 Juan    21   Soltero      TRUE
2 Pedro   46   Casado      FALSE
3 Ana     58   Casado       TRUE
4 Delfina 27   Soltero      TRUE

In [78]:
str(df) # Resumen del objeto. Ahora ya no tenemos Factors.

'data.frame':	4 obs. of  4 variables:
 $ Nombres           : chr  "Juan" "Pedro" "Ana" "Delfina"
 $ Edad              : num  21 46 58 27
 $ EstadoCivil       : chr  "Soltero" "Casado" "Casado" "Soltero"
 $ SecundarioCompleto: logi  TRUE FALSE TRUE TRUE

Los vectores Factor son de mucha utilidad, especialmente cuando se trabaja con modelos estadísticos en R. Vamos a verlos en otras aplicaciones más adelante.

Ahora ya tenemos los elementos suficientes como para definir más concretamente qué es un Data Frame: es un conjunto de listas, que en su versión más usual contienen un vector cada una de un mismo largo (mismas cantidad de observaciones), pero que pueden almacenar variables de distinto dominio. Esto es algo muy útil para la mayor parte de datasets con los que se trabaja.

## Inspeccionando nuestros datos

¿Cómo sabemos qué datos tenemos cargados? Tenemos al menos dos funciones que sirven para inspeccionar rápidamente los datos. Por un lado, podemos usar la función `View()` (Notar la **V** mayúscula al principio de la función). Lo que hay que hacer es pasarle uno de nuestros objetos que están cargados, y nos devuelve la tabla entera en el panel de edición.

In [79]:
View(precioAvisos) # Debería abrirse una tabla dentro del panel de edición

   BARRIOS           USDm2_2013 USDm2_2014 USDm2_2015 USDm2_2016 USDm2_2017
1  AGRONOMIA         1749.107   1457.974   1689.309   2056.743   1945.6065
2  ALMAGRO           2033.538   1930.081   2086.387   1950.488   2299.0683
3  BALVANERA         1893.371   1818.466   1857.900   1834.028   1989.1439
4  BARRACAS          2229.450   1901.401   2390.073   1751.239   1919.5811
5  BELGRANO          2619.973   2544.015   2695.148   3286.557   3199.2061
6  BOCA              1665.082   1405.424   1812.957   1459.604   1674.5640
7  BOEDO             2578.181   1810.027   2082.106   1562.627   1857.9378
8  CABALLITO         2263.397   2033.947   2153.961   2264.950   2512.9830
9  CHACARITA         2353.396   2083.826   2122.337   2110.865   2435.5774
10 COGHLAN           2656.169   2211.404   2234.113   2443.587   2608.7611
11 COLEGIALES        2456.690   2425.557   2345.988   2530.120   2820.5775
12 CONSTITUCION      1757.722   1615.515   1891.143   1669.477   1780.9270
13 FLORES            2012.048   1818.180   1941.132   1945.581   2052.0307
14 FLORESTA          1775.217   1850.633   1707.078   1698.672   1799.0546
15 LINIERS           1671.956   1583.798   1804.059   1778.948   1799.8994
16 MATADEROS         1509.202   1470.884   1460.970   1367.489   1526.9062
17 MONSERRAT         2211.122   2063.177   2114.658   2073.782   2195.5157
18 MONTE CASTRO      2131.067   1689.208   1818.925   1900.716   1926.7460
19 NUEVA POMPEYA     1733.885   1389.153   1435.563   1288.173   1520.7808
20 NUÑEZ             2860.343   2571.673   2766.086   3083.382   3099.7532
21 PALERMO           2969.914   2865.323   2855.663   3338.895   3440.1838
22 PARQUE AVELLANEDA 1501.626   1450.182   3093.725   1382.946   1365.5237
23 PARQUE CHACABUCO  1774.638   1787.546   1811.577   1743.468   2030.7709
24 PARQUE CHAS       2167.927   1938.503   2033.618   2103.709   2221.9000
25 PARQUE PATRICIOS  1671.574   1502.252   1665.247   1796.961   1784.2635
26 PATERNAL          1979.661   1694.042   1560.521   1958.359   2062.8619
27 PUERTO MADERO     4808.052   4754.230   5348.426   5742.719   6070.3288
28 RECOLETA          2804.563   2656.299   2698.058   3068.577   3248.2453
29 RETIRO            2684.619   2658.874   2728.101   2836.720   3146.8744
30 SAAVEDRA          2142.902   2159.452   2079.747   2186.247   2361.0853
31 SAN CRISTOBAL     2323.973   1934.920   2624.382   1770.419   1916.3548
32 SAN NICOLAS       2518.413   2180.252   2102.118   2343.136   2431.0081
33 SAN TELMO         2224.907   1984.548   1991.912   2186.106   2390.8029
34 VELEZ SARSFIELD   1618.784   1559.800   1520.944   1599.940   1751.4902
35 VERSALLES         1483.271   1403.157   1488.054   1645.329   1625.8537
36 VILLA CRESPO      2260.153   2357.957   2254.580   2326.994   2474.0603
37 VILLA DEL PARQUE  1935.495   1852.457   1859.115   2039.246   2197.6942
38 VILLA DEVOTO      2093.273   1904.191   2096.970   2083.992   2171.3600
39 VILLA GRAL. MITRE 1934.169   1731.286   1928.124   1967.199   2022.8740
40 VILLA LUGANO      1182.779   1248.710   1172.980   1208.222   1152.4682
41 VILLA LURO        1788.873   1949.096   1671.023   1681.790   2001.4789
42 VILLA ORTUZAR     2126.561   2151.608   2062.152   2007.371   2390.9102
43 VILLA PUEYRREDON  1894.086   1497.981   1630.813   1624.366   2061.2390
44 VILLA REAL        1669.844   1436.426   1463.709   1582.302   1726.4659
45 VILLA RIACHUELO   1489.534   1369.383   1212.377   1475.852   1311.8156
46 VILLA SANTA RITA  2182.093   1948.102   2137.532   1848.100   1952.2045
47 VILLA SOLDATI     1721.077   1700.376   1611.692   2382.034    872.7541
48 VILLA URQUIZA     2291.764   1980.756   2121.251   2439.630   2601.8794

Deberían ver una matriz con 6 columnas y unas 48 filas. Las filas representan observaciones (en este caso, barrios), mientras que las columnas hacen referencia a las variables, que tienen los siguientes nombres: BARRIOS, USDm2_2013, USDm2_2014, USDm2_2015, USDm2_2016, USDm2_2017 y geometry ¿Qué significan?

* **BARRIOS**: es una variable que indica cuál es el nombre del barrio al que pertenece cada observación
* **USDm2_201x**: estás 5 columnas hacen referencia al valor promedio de los inmuebles creados en cada año para cada barrio (período 2013-2017)

Otra función que puede ser muy útil para describir nuestros objetos, que ya hemos usado anteriormente, es `str()`. Nos devuelve las primeras observaciones de cada una de las variables, también la **clase** de nuestro objeto, la cantidad de observaciones (o filas), que en este caso son 48, y la cantidad de variables (o columnas), que son 6. También nos indica la **clase** de cada una de las variables, que en este caso son `int` o `num`. Para entender bien las clases de datos y las diversas estructuras que los contienen tenemos que ir un casillero más atrás y explicar cómo es R organiza las cosas.

In [80]:
str(precioAvisos)

'data.frame':	48 obs. of  6 variables:
 $ BARRIOS   : chr  "AGRONOMIA" "ALMAGRO" "BALVANERA" "BARRACAS" ...
 $ USDm2_2013: num  1749 2034 1893 2229 2620 ...
 $ USDm2_2014: num  1458 1930 1818 1901 2544 ...
 $ USDm2_2015: num  1689 2086 1858 2390 2695 ...
 $ USDm2_2016: num  2057 1950 1834 1751 3287 ...
 $ USDm2_2017: num  1946 2299 1989 1920 3199 ...

## Retomando nuestro ejercicio: ¿Cuánto aumentaron las viviendas?

Ya estamos en condiciones de hacer un par de cálculos más y ver si efectivamente, como en la noticia principal, las propiedades aumentaron de precio en 2017. Para esto, no tenemos que hacer nada nuevo, usando el operador `$`, que nos deja elegir el vector de nuestro data.frame, solo tenemos que hacer una división.

In [81]:
mean(precioAvisos$USDm2_2017)/mean(precioAvisos$USDm2_2016) - 1

[1] 0.05299051

Según nuestros datos, aumentaron 5,3% en 2017. Coincidimos con la nota, pero nos da un poco menos que lo esperado. Veamos ahora cuál fue la variación de los barrios: recuerden que R puede vectorizar la operación. Vamos a agregarle una nueva columna a nuestro data frame, combinando lo que aprendimos hoy

In [82]:
precioAvisos$variacion2017 <-  precioAvisos$USDm2_2017/precioAvisos$USDm2_2016 - 1
View(precioAvisos)

   BARRIOS           USDm2_2013 USDm2_2014 USDm2_2015 USDm2_2016 USDm2_2017
1  AGRONOMIA         1749.107   1457.974   1689.309   2056.743   1945.6065
2  ALMAGRO           2033.538   1930.081   2086.387   1950.488   2299.0683
3  BALVANERA         1893.371   1818.466   1857.900   1834.028   1989.1439
4  BARRACAS          2229.450   1901.401   2390.073   1751.239   1919.5811
5  BELGRANO          2619.973   2544.015   2695.148   3286.557   3199.2061
6  BOCA              1665.082   1405.424   1812.957   1459.604   1674.5640
7  BOEDO             2578.181   1810.027   2082.106   1562.627   1857.9378
8  CABALLITO         2263.397   2033.947   2153.961   2264.950   2512.9830
9  CHACARITA         2353.396   2083.826   2122.337   2110.865   2435.5774
10 COGHLAN           2656.169   2211.404   2234.113   2443.587   2608.7611
11 COLEGIALES        2456.690   2425.557   2345.988   2530.120   2820.5775
12 CONSTITUCION      1757.722   1615.515   1891.143   1669.477   1780.9270
13 FLORES            2012.048   1818.180   1941.132   1945.581   2052.0307
14 FLORESTA          1775.217   1850.633   1707.078   1698.672   1799.0546
15 LINIERS           1671.956   1583.798   1804.059   1778.948   1799.8994
16 MATADEROS         1509.202   1470.884   1460.970   1367.489   1526.9062
17 MONSERRAT         2211.122   2063.177   2114.658   2073.782   2195.5157
18 MONTE CASTRO      2131.067   1689.208   1818.925   1900.716   1926.7460
19 NUEVA POMPEYA     1733.885   1389.153   1435.563   1288.173   1520.7808
20 NUÑEZ             2860.343   2571.673   2766.086   3083.382   3099.7532
21 PALERMO           2969.914   2865.323   2855.663   3338.895   3440.1838
22 PARQUE AVELLANEDA 1501.626   1450.182   3093.725   1382.946   1365.5237
23 PARQUE CHACABUCO  1774.638   1787.546   1811.577   1743.468   2030.7709
24 PARQUE CHAS       2167.927   1938.503   2033.618   2103.709   2221.9000
25 PARQUE PATRICIOS  1671.574   1502.252   1665.247   1796.961   1784.2635
26 PATERNAL          1979.661   1694.042   1560.521   1958.359   2062.8619
27 PUERTO MADERO     4808.052   4754.230   5348.426   5742.719   6070.3288
28 RECOLETA          2804.563   2656.299   2698.058   3068.577   3248.2453
29 RETIRO            2684.619   2658.874   2728.101   2836.720   3146.8744
30 SAAVEDRA          2142.902   2159.452   2079.747   2186.247   2361.0853
31 SAN CRISTOBAL     2323.973   1934.920   2624.382   1770.419   1916.3548
32 SAN NICOLAS       2518.413   2180.252   2102.118   2343.136   2431.0081
33 SAN TELMO         2224.907   1984.548   1991.912   2186.106   2390.8029
34 VELEZ SARSFIELD   1618.784   1559.800   1520.944   1599.940   1751.4902
35 VERSALLES         1483.271   1403.157   1488.054   1645.329   1625.8537
36 VILLA CRESPO      2260.153   2357.957   2254.580   2326.994   2474.0603
37 VILLA DEL PARQUE  1935.495   1852.457   1859.115   2039.246   2197.6942
38 VILLA DEVOTO      2093.273   1904.191   2096.970   2083.992   2171.3600
39 VILLA GRAL. MITRE 1934.169   1731.286   1928.124   1967.199   2022.8740
40 VILLA LUGANO      1182.779   1248.710   1172.980   1208.222   1152.4682
41 VILLA LURO        1788.873   1949.096   1671.023   1681.790   2001.4789
42 VILLA ORTUZAR     2126.561   2151.608   2062.152   2007.371   2390.9102
43 VILLA PUEYRREDON  1894.086   1497.981   1630.813   1624.366   2061.2390
44 VILLA REAL        1669.844   1436.426   1463.709   1582.302   1726.4659
45 VILLA RIACHUELO   1489.534   1369.383   1212.377   1475.852   1311.8156
46 VILLA SANTA RITA  2182.093   1948.102   2137.532   1848.100   1952.2045
47 VILLA SOLDATI     1721.077   1700.376   1611.692   2382.034    872.7541
48 VILLA URQUIZA     2291.764   1980.756   2121.251   2439.630   2601.8794
   variacion2017
1  -0.054035088
2   0.178714552
3   0.084576584
4   0.096127466
5  -0.026578132
6   0.147272999
7   0.188983294
8   0.109509072
9   0.153829179
10  0.067595124
11  0.114799767
12  0.066757422
13  0.054713752
14  0.059094725
15  0.011777652
16  0.116576231
17  0.058701266
18  0.013695028
19  0.180571806
20  0.005309427
21  0.030335920
22 -0.012597886
23  0.164787925
24  0.056182089
25 -0.007066143
26  0.053362407
27  0.057047785
28  0.058550888
29  0.109335670
30  0.079971871
31  0.082429874
32  0.037502030
33  0.093635362
34  0.094722438
35 -0.011836759
36  0.063200309
37  0.077699205
38  0.041923218
39  0.028301429
40 -0.046145371
41  0.190088455
42  0.191065358
43  0.268950101
44  0.091110358
45 -0.111147102
46  0.056330404
47 -0.633609689
48  0.066505565

Ordenen desde el visor a las variaciones por barrio ¿Qué pasó? Si miran con atención, el precio de los inmuebles en Villa Soldati, para nuestra muestra, cayó un 63%. Claro que esto tiene un impacto sobre el cálculo de la variación en 2017. No se preocupen, en el próximo capítulo, con la ayuda de **tidyverse** vamos a poder ver qué pasa con esto.

¿Qué pueden decir sobre la heterogeneidad en los barrios? ¿Cuáles crecieron más y cuáles menos?

## Conclusiones

Los datos públicos a los que accedimos nos permitieron responder las dos preguntas iniciales:

* En primer lugar, se observó un incremento en los precios de los inmuebles en USD durante el 2017 en comparación al 2016. Este aumento fue de aproximadamente 5,3%, según un promedio simple de las variaciones barriales.
* En segundo lugar, las variaciones en los precios exhiben una importante heterogeneidad regional, con algunos barrios ubicados en la parte noroeste (Villa Pueyrredón, Villa Ortúzar, Chacarita, Colegiales) y sudeste (Nueva Pompeya, Parque Chacabuco, Boedo) de la capital aumentando más que el resto.

## Ejercicios

* ¿Cuál fue la variación de los precios de los inmuebles entre 2016 y 2015?
* ¿Cuál fue la variación de los precios de los inmuebles entre 2017 y 2013?
* ¿Cuál fue el barrio que más creció entre 2017 y 2013?
* ¿Cuál fue el barrio que menos creció entre 2017 y 2013?
* ¿Cual es el año en el que los precios de la ciudad fueron más altos? ¿Cuál fue ese valor?

## Extensión: cargando y guardando datos de otros formatos

### Microsoft Excel

Para bien o para mal, las planillas de Excel están por todos lados. Es importante saber cómo cargarlas a R y poder trabjar con ellas desde aquí. Para esto, vamos a necesitar la ayuda de un paquete de datos de R (en el Capítulo 2 pueden aprender qué es un paquete de datos) y [descargar un archivo excel](https://github.com/martintinch0/CienciaDeDatosParaCuriosos/raw/master/data/child_mortality_0_5_year_olds_dying_per_1000_born.xlsx). En el ejemplo suponemos que este archivo está disponible en la carpeta principal del proyecto y que ya tienen instalado el paquete **readxl**.

```R
library(readxl)
datos <- read_excel(path = 'child_mortality_0_5_year_olds_dying_per_1000_born.xlsx',
                    sheet = 1)
```

Si inspeccionan el archivo datos con **str()**, **glimpse()** o **View()** van a poder ver qué tipo de datos hay en lo que leímos desde R. Solo necesitamos pasarle dos argumentos: la dirección (path) y el número o nombre de hoja (en este caso, la primera). Esta función tiene muchos otros parámetros para adaptarnos al formato que tenga la hoja de excel. Pueden averiguar más preguntando de esta manera: **?read\_excel()**

¿Cómo guardamos los datos a excel? Existen muchas alternativas para hacerlo, entre ellas la función write\_xlsx que brinda el paquete _writexl_ ¿Por qué? Porque otras alternativas tienen diveresas dependencias, como rJava, que requiere tener instalado Java versión 64 bits en la computadora y muchas veces no es fácil darse cuenta de esto. La instalación de este paquete solo debe hacerse una vez, como se explicará en los capítulos que siguen.

```R
install.packages("writexl")
```

Una vez que lo instalaron, ya podemeos usar la función para escribir archivos xlsx luego de usar **library(writexl)**.

```R
library(writexl)
write_xlsx(x = datos ,path = 'Mortalidad Infaitl.xlsx')
```

> **Nota**: [Este video](https://www.youtube.com/watch?v=kIID5FDi2JQ) resume en unos pocos minutos gran parte de lo que vamos a ver acá y es recomendable[↩](introduccion-practica-a-la-ciencia-de-datos.html#fnref1)